.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .singleQuestion {
    width: 95%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid grey;
    padding: 20px;
    margin-top: 10px;
  }
  
  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }
  
  .singleOption {
    width: 46%;
    height: 50px;
    padding: 15px 20px;
    margin: 10px;
    box-shadow: 0 0 2px black;
  }
  
  @media (max-width: 614px) {
    .singleOption {
      width: 100%;
    }
  }
  
  .controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .select {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }

  div.modal {
    text-align:center;
    background-color:#1e172d;
    width:600px;
    height:250px;
    padding-top:3px;
    font-size: 17px;
    color:aliceblue;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    font-size: 23px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #b43c3c;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  a{
    color:rgb(94, 94, 125)
  }

  .errorMes{
    color:#b43c3c;
    font-weight: bold;
    font-size: 15px;
  }

  @media(max-width: 480px){

    div.modal{
      width: 300px;
      height:300px;
      font-size: 20px;
    }
    .modal > .header{
      font-size: 15px;
    }
    .singleQuestion{
      font-size: 15px;
    }
    .singleOption{
      font-size: 15px;
    }
  }