.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:rgb(0, 0, 0);
    color:white;
    text-align: center;
    font-size: medium;
    cursor: pointer;
 }

 a:hover{
    color:aqua;
 }
 
 