span.score{
    margin-left: 44%;
    font-size: 30px;
    font-weight: bolder;
    color:rgb(53, 22, 54);
}
span.subtitle{
    font-size: 30px;
    font-weight: bolder;
    color:rgb(53, 22, 54);
    position:absolute;
}